<div class="flex justify-center items-center bg-[#1C1C1C] min-h-full py-8">
  <form
    (ngSubmit)="onSubmit()"
    #vehicleForm="ngForm"
    class="space-y-6 bg-[#2A2A2A] p-6 rounded-2xl shadow-xl text-white max-w-2/4 w-full mx-auto border border-[#333]"
  >
    @if (selectedVehicle.selectedVehicleType !== 'PB') {
      <div class="space-y-4">
        <!-- Traction Control -->
        <div>
          <label class="block text-lg text-gray-300 mb-2 text-center w-full"
            >Traction Control</label
          >
          <div class="flex justify-between items-center">
            <input
              type="range"
              [(ngModel)]="globalSettings.traction_control"
              name="traction_control"
              min="-10"
              max="10"
              step="1"
              class="range-slider w-full"
            />
            <span class="ml-4 text-white">{{ globalSettings.traction_control }}</span>
          </div>
        </div>

        <!-- ABS -->
        <div>
          <label class="block text-lg text-gray-300 mb-2 text-center w-full">ABS</label>
          <div class="flex justify-between items-center">
            <input
              type="range"
              [(ngModel)]="globalSettings.abs"
              name="abs"
              min="-10"
              max="10"
              step="1"
              class="range-slider w-full"
            />
            <span class="ml-4 text-white">{{ globalSettings.abs }}</span>
          </div>
        </div>

        <!-- ESP -->
        <div>
          <label class="block text-lg text-gray-300 mb-2 text-center w-full">ESP</label>
          <div class="flex justify-between items-center">
            <input
              type="range"
              [(ngModel)]="globalSettings.esp"
              name="esp"
              min="-10"
              max="10"
              step="1"
              class="range-slider w-full"
            />
            <span class="ml-4 text-white">{{ globalSettings.esp }}</span>
          </div>
        </div>
      </div>
    }

    <!-- Drift Assist -->
    <div>
      <label class="block text-lg text-gray-300 mb-2 text-center w-full">Drift Assist</label>
      <div class="flex justify-between items-center">
        <input
          type="range"
          [(ngModel)]="globalSettings.drift_assist"
          name="drift_assist"
          min="-10"
          max="10"
          step="1"
          class="range-slider w-full"
        />
        <span class="ml-4 text-white">{{ globalSettings.drift_assist }}</span>
      </div>
    </div>

    <button
      type="submit"
      class="w-full py-2 bg-yellow-500 hover:bg-yellow-600 text-black font-semibold rounded-md transition"
    >
      Save Settings
    </button>

    <button
      (click)="cancelAction()"
      class="w-full bg-[#FF3B3F] hover:bg-[#D32F2F] text-white font-semibold py-2 rounded-md transition duration-300"
    >
      Cancel
    </button>
  </form>
</div>
