ngx-slider {
    pointer-events: none;
    margin: 0 !important;
}

ngx-slider .ngx-slider-pointer {
    background-color: #FFD500 !important;
    border: none !important;
    box-shadow: none !important;
    width: 15px !important;
    height: 15px !important;
    top: -6px !important;
    border-radius: 50% !important;
}

ngx-slider .ngx-slider-pointer:before,
ngx-slider .ngx-slider-pointer:after {
    content: none !important;
    display: none !important;
}

ngx-slider .ngx-slider-bar {
    background: #3f3f46 !important;
}

ngx-slider .ngx-slider-bubble {
    display: none !important;
}