<div class="flex justify-center items-center min-h-screen bg-gray-100">
  <div class="bg-white p-8 rounded-lg shadow-lg w-full sm:w-96">
    <!-- Sign Up Form -->
    <div *ngIf="authState === 'signup'" class="space-y-4">
      <h2 class="text-2xl font-semibold text-center text-gray-700">Sign Up</h2>
      <form (ngSubmit)="handleSignUp()" #signUpForm="ngForm">
        <div class="space-y-2">
          <label for="name" class="block text-sm text-gray-600">Name (Nickname)</label>
          <input
            id="name"
            type="name"
            class="w-full p-2 border border-gray-300 rounded-md"
            [(ngModel)]="name"
            name="name"
            required
          />
        </div>

        <div class="space-y-2">
          <label for="email" class="block text-sm text-gray-600">Email</label>
          <input
            id="email"
            type="email"
            class="w-full p-2 border border-gray-300 rounded-md"
            [(ngModel)]="email"
            name="email"
            required
          />
        </div>

        <div class="space-y-2">
          <label for="password" class="block text-sm text-gray-600">Password</label>
          <input
            id="password"
            type="password"
            class="w-full p-2 border border-gray-300 rounded-md"
            [(ngModel)]="password"
            name="password"
            required
          />
        </div>

        <div class="space-y-2">
          <label for="confirmPassword" class="block text-sm text-gray-600">Confirm Password</label>
          <input
            id="confirmPassword"
            type="password"
            class="w-full p-2 border border-gray-300 rounded-md"
            [(ngModel)]="confirmPassword"
            name="confirmPassword"
            required
          />
          <p
            *ngIf="password && confirmPassword && password !== confirmPassword"
            class="text-sm text-red-500 mt-2"
          >
            Passwords do not match.
          </p>
        </div>

        <button
          type="submit"
          class="w-full py-2 mt-4 bg-blue-500 text-white rounded-md hover:bg-blue-600"
          [disabled]="password !== confirmPassword || !email || !password"
        >
          Sign Up
        </button>
      </form>

      <p class="text-sm text-center text-gray-600 mt-4">
        Already have an account?
        <a (click)="showSignIn()" class="text-blue-500 cursor-pointer">Sign In</a>
      </p>
    </div>

    <!-- Sign In Form -->
    <div *ngIf="authState === 'signin'" class="space-y-4">
      <h2 class="text-2xl font-semibold text-center text-gray-700">Sign In</h2>
      <form (ngSubmit)="handleSignIn()" #signInForm="ngForm">
        <div class="space-y-2">
          <label for="email" class="block text-sm text-gray-600">Email</label>
          <input
            id="email"
            type="email"
            class="w-full p-2 border border-gray-300 rounded-md"
            [(ngModel)]="email"
            name="email"
            required
          />
        </div>

        <div class="space-y-2">
          <label for="password" class="block text-sm text-gray-600">Password</label>
          <input
            id="password"
            type="password"
            class="w-full p-2 border border-gray-300 rounded-md"
            [(ngModel)]="password"
            name="password"
            required
          />
        </div>

        <button
          type="submit"
          class="w-full py-2 mt-4 bg-blue-500 text-white rounded-md hover:bg-blue-600"
        >
          Sign In
        </button>
      </form>

      <p class="text-sm text-center text-gray-600 mt-4">
        Don't have an account?
        <a (click)="showSignUp()" class="text-blue-500 cursor-pointer">Sign Up</a>
      </p>

      <p class="text-sm text-center text-gray-600 mt-4">
        Forgot your password?
        <a (click)="showForgotPassword()" class="text-blue-500 cursor-pointer">Reset</a>
      </p>
    </div>

    <!-- Password Reset Form -->
    <div *ngIf="authState === 'reset'" class="space-y-4">
      <h2 class="text-2xl font-semibold text-center text-gray-700">Reset Password</h2>
      <form (ngSubmit)="handleForgotPassword()" #resetPasswordForm="ngForm">
        <div class="space-y-2">
          <label for="email" class="block text-sm text-gray-600">Email</label>
          <input
            id="email"
            type="email"
            class="w-full p-2 border border-gray-300 rounded-md"
            [(ngModel)]="email"
            name="email"
            required
          />
        </div>

        <button
          type="submit"
          class="w-full py-2 mt-4 bg-blue-500 text-white rounded-md hover:bg-blue-600"
        >
          Send Reset Link
        </button>
      </form>
    </div>

    <!-- Password Reset Form -->
    <div *ngIf="authState === 'confirm'" class="space-y-4">
      <h2 class="text-2xl font-semibold text-center text-gray-700">Reset Password</h2>
      <form (ngSubmit)="handleResetPassword()" #resetPasswordForm="ngForm">
        <div class="space-y-2">
          <label for="confirmationCode" class="block text-sm text-gray-600"
            >Confirmation Code</label
          >
          <input
            id="confirmationCode"
            type="confirmationCode"
            class="w-full p-2 border border-gray-300 rounded-md"
            [(ngModel)]="confirmationCode"
            name="confirmationCode"
            required
          />
        </div>

        <div class="space-y-2">
          <label for="password" class="block text-sm text-gray-600">Password</label>
          <input
            id="password"
            type="password"
            class="w-full p-2 border border-gray-300 rounded-md"
            [(ngModel)]="password"
            name="password"
            required
          />
        </div>

        <div class="space-y-2">
          <label for="confirmPassword" class="block text-sm text-gray-600">Confirm Password</label>
          <input
            id="confirmPassword"
            type="password"
            class="w-full p-2 border border-gray-300 rounded-md"
            [(ngModel)]="confirmPassword"
            name="confirmPassword"
            required
          />
          <p
            *ngIf="password && confirmPassword && password !== confirmPassword"
            class="text-sm text-red-500 mt-2"
          >
            Passwords do not match.
          </p>
        </div>

        <button
          type="submit"
          class="w-full py-2 mt-4 bg-blue-500 text-white rounded-md hover:bg-blue-600"
          [disabled]="password !== confirmPassword || !email || !password"
        >
          Resett Password
        </button>
      </form>
    </div>
  </div>
</div>
