<div class="min-h-screen flex items-center justify-center bg-[#1C1C1C]">
  <div class="max-w-md w-full space-y-8 p-8 bg-[#2A2A2A] rounded-lg shadow-lg mx-4 sm:mx-auto">
    <div>
      <h2 class="mt-6 text-center text-3xl font-extrabold text-yellow-400">
        {{ showPasswordReset ? 'Reset Password' : showSignUp ? 'Sign Up' : 'Sign In' }}
      </h2>
    </div>

    @if (showSignIn) {
      <app-signin-form
        (switchToSignup)="onSwitchToSignup()"
        (switchToPasswordReset)="onSwitchToPasswordReset()"
      ></app-signin-form>
    }

    @if (showSignUp) {
      <app-signup-form (switchToLogin)="onSwitchToLogin()"></app-signup-form>
    }

    @if (showPasswordReset) {
      <app-password-reset (switchToLogin)="onSwitchToLogin()"></app-password-reset>
    }
  </div>
</div>
