<div class="p-6 text-white">
  <div class="mb-8">
    <h1 class="text-3xl font-bold text-yellow-400">Add Car Tuning</h1>
    @if (selectedVehicle) {
      <h2 class="text-xl font-bold text-yellow-400">{{ selectedVehicle.name }}</h2>
    }
  </div>

  @if (error) {
    <div class="bg-red-500 text-white p-3 sm:p-4 rounded-lg mb-4 sm:mb-6">
      {{ error }}
    </div>
  }

  @if (!selectedVehicle) {
    <app-select-vehicle (vehicleSelected)="onVehicleSelected($event)"></app-select-vehicle>
  } @else if (showGlobalSettings) {
    <app-global-settings
      [selectedVehicle]="selectedVehicle"
      (back)="onBack()"
      (next)="onNext()"
      (settingsChange)="onGlobalSettingsChanged($event)"
    >
    </app-global-settings>
  } @else if (showSpecificSettings) {
    <app-specific-settings
      [selectedVehicle]="selectedVehicle"
      (settingsChange)="onSpecificSettingsChanged($event)"
      (save)="onSaveSettings()"
      (back)="onBack()"
    ></app-specific-settings>
  }
</div>
